body {
	width: 980px;
	margin: 0 auto;
	text-align: center;
	background-color: #ffcccc;
	font-family: arial;
}

header img {
	height: 100px;
	margin-top: 20px;
}

nav {
	margin-top: 30px;
}

nav a {
	text-decoration: none;
	color: black];
	background: #ff9999;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	padding: 3px 6px 3px 6px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid silver;
	margin-right: 10px;
	margin: 10px;
	font-family: arial;
}


form{
	margin-top: 30px;
}

footer {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;	
}

footer a {
	text-decoration: none;
	color: black];
	background: #ff9999;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	padding: 3px 6px 3px 6px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid silver;
	margin-right: 10px;
	margin: 10px;
	font-family: arial;
}

#map {
        height: 500px;
        width: 100%;
        margin-top: 30px;
       }